<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--     CSRF Token -->
    <!--    <meta name="csrf-token" content="{{ csrf_token() }}">-->

    <!--    <title>{{ config('app.name', 'Laravel') }}</title>-->
    <!-- Styles -->
    <link rel="stylesheet" href="../../static/public/libs/bootstrap-4.3.1/css/bootstrap.min.css"
          th:href="@{public/libs/bootstrap-4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/public/libs/ionicons-4.5.5/css/ionicons.min.css"
          th:href="@{public/libs/ionicons-4.5.5/css/ionicons.min.css}">
    <link rel="stylesheet" href="../../static/public/css/main.css"
          th:href="@{public/css/main.css}">

    <script src="../../static/public/libs/jquery-3.3.1.slim.min.js"
            th:src="@{public/libs/jquery-3.3.1.slim.min.js}"></script>
    <script src="../../static/public/libs/popper.min.js" th:src="@{public/libs/popper.min.js}"></script>
    <script src="../../static/public/libs/bootstrap-4.3.1/js/bootstrap.min.js"
            th:src="@{public/libs/bootstrap-4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <!--                {{ config('app.name', 'Laravel') }}-->
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto">

                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Authentication Links -->
                    <!--                    @guest-->
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <!--                    @if (Route::has('register'))-->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}" sec:authorize="!isAuthenticated()">Register</a>
                    </li>
                    <!--                    @endif-->
<!--                    @else-->
                    <li class="nav-item dropdown">
                        <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
<!--                           th:text="${user.name}">-->
                            <span class="caret"></span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/logout}" sec:authorize="isAuthenticated()"
                               onclick="event.preventDefault();
                                                    document.getElementById('logout-form').submit();">
                                Logout
                            </a>

                            <form id="logout-form" th:action="@{/logout}" method="POST"
                                  sec:authorize="isAuthenticated()" style="display: none;">
                            </form>
                        </div>
                    </li>
<!--                    @endguest-->
                </ul>
            </div>
        </div>
    </nav>

    <div class="container px-2">
<!--        @if(Auth::check())-->
        <div sec:authorize="isAuthenticated()" class="row mx-n2">
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 px-2 py-3">
                <ul class="list-group sidebar text-primary font-m">
                    <a th:href="@{/admin/home}">
                        <li class="list-group-item"><i class="icon ion-md-apps"></i> Home</li>
                    </a>
                    <a th:href="@{/category.index}">
                        <li class="list-group-item"><i class="icon ion-ios-list"></i> All categories</li>
                    </a>
                    <a th:href="@{/category.create}">
                        <li class="list-group-item"><i class="icon ion-md-add"></i> Create a new category</li>
                    </a>
                    <a th:href="@{/post.index}">
                        <li class="list-group-item"><i class="icon ion-ios-list"></i> All posts</li>
                    </a>
                    <a th:href="@{/post.create}">
                        <li class="list-group-item"><i class="icon ion-md-add"></i> Create a new post</li>
                    </a>
                    <a th:href="@{/}">
                        <li class="list-group-item"><i class="icon ion-ios-list"></i> All tags</li>
                    </a>
                    <a th:href="@{/}">
                        <li class="list-group-item"><i class="icon ion-md-add"></i> Create a new tag</li>
                    </a>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-7 col-lg-8 col-xl-9 px-2 py-3">
<!--                @if(Session::has('info'))-->
                <div class="alert alert-primary" th:text="${session.info}" role="alert" th:unless="${session == null}" >
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
<!--                    {{ Session::get('info') }}-->
                </div>
<!--                @endif-->
<!--                @if(Session::has('success'))-->
                <div class="alert alert-primary" role="alert" th:text="${session.success}" th:unless="${session == null}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
<!--                    {{ Session::get('success') }}-->
                </div>
<!--                @endif-->
<!--                @yield('content')-->
                <div layout:fragment="content"></div>
            </div>
        </div>
<!--        @else-->
        <div layout:fragment="content" sec:authorize="!isAuthenticated()" class="py-5">
<!--            @yield('content')-->
        </div>
<!--        @endif-->
    </div>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
</body>
</html>
