<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app_layout}">
<head>
    <title>Login Form</title>
</head>
<body>

<!--@extends('layouts.app')-->

<!--@section('content')-->
<div class="container" layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Login</div>

                <div class="card-body">
                    <form method="post" th:action="@{/login}">
                        <!--                        @csrf-->

                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" name="username"
                                       required autofocus>

                                <!--                                @if ($errors->has('email'))-->
                                <!--                                <span class="invalid-feedback" role="alert" th:if="${#fields.hasErrors('email')}"-->
                                <!--                                      th:errors="*{email}">-->
                                <!--                                    </span>-->
                                <!--                                @endif-->
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                            <div class="col-md-6">
                                <input id="password" type="password"
                                       class="form-control"
                                       name="password" required>

                                <!--                                @if ($errors->has('password'))-->
                                <!--                                <span class="invalid-feedback" th:if="${#fields.hasErrors('password')}"-->
                                <!--                                      th:errors="*{password}" role="alert">-->
                                <!--                                    </span>-->
                                <!--                                @endif-->
                            </div>
                        </div>

                        <!--                        <div class="form-group row">-->
                        <!--                            <div class="col-md-6 offset-md-4">-->
                        <!--                                <div class="form-check">-->
                        <!--                                    <input class="form-check-input" type="checkbox" name="remember" id="remember"  th:if="${remember}" {{-->
                        <!--                                           old('remember') ? 'checked' : '' }}>-->

                        <!--                                    <label class="form-check-label" for="remember">-->
                        <!--                                        {{ __('Remember Me') }}-->
                        <!--                                    </label>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->

                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>

                                <!--                                @if (Route::has('password.request'))-->
                                <a class="btn btn-link" th:href="@{/password.request}">
                                    Forgot Your Password?
                                </a>
                                <!--                                @endif-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--@endsection-->
